<div class="card-columns animated fadeIn">
    <div *ngFor="let item of items" class="card" style="background-color: black;">
        <img [src]="item.urlToImage" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title" style="color: blanchedalmond;">{{item.title}}</h5>
            <p class="card-text" style="color: white;">{{item.description}}.</p>
            <a class="btn btn-outline-success" href="{{item.url}}">Leer más..</a>
        </div>
    </div>
</div>